.audioList li{
	list-style: none;
	float: none !important;
	font-weight: bold;
}
.thumbnailWrapper img{
	height: 100px;
	width: 100px;
	border: 1px solid;
}
.thumbnailWrapper {
	margin: 5px 0;
}
.vidWrapper, .audWrapper{
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
.edit{
	margin: 5px;
}