body {

}

.userprofile {
	padding: 0 4%; 
}

.imageHolder img{
	width: 150px;
}
.editNameField input{
	width: 40%;
	display: inline-block;
}
.userDisplayName .userNameField{
	font-size: 20px;
}

.UserNameEditor{
	text-align: left;
}
.editNameField .btn {
	
}

.submitNameBtn {
	display: none;
}

.editIcon{
	width: 25px;
	cursor: pointer;
	margin-left: 5px;
	margin-top: -7px;
}



.editNameField{
	display: none;
}

.successMsg{
	color: #167117;
}
.errorMsg{
	color: #B60910;
}

.closeEditOption{
	display: inline-block;
	margin-left: 5px;
	font-size: 34px;
	font-weight: bold;
	color: #ccc;
	line-height: 20px;
	position: relative;
	top: 7px;
	cursor: pointer;
}
.closeEditOption:hover{
	color: #444;
}
.UsersAudioList{
	text-align: left;
	margin-top: 10px;
	padding: 10px;
	  color: #333;
  background-color: #fff;
}

.UsersAudioList a{
	font-size: 12px;
	text-decoration: none;
}
.UsersAudioList .audioName{
	font-size: 15px;
	color: #111;
	text-transform: capitalize;
}
.UsersAudioList .audioLang{
	font-size: 12px;
	color: #111;
}
.userName,.Heading{
	font-size: 20px;
	text-transform: capitalize;
}
.audioListContainer{
	width: 98%;
	/*margin-left: 10px;*/
}
.userAudioWrapper{
	padding: 5px 15px;
  /*-moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;*/
  	margin-bottom: 10px;
  
    background-color: #EBF1CC;
}
.audioListWrapper{
	max-height: 400px;
	overflow: auto;
}
.subHeading{
	color: #fff;
	text-align: left;
	 margin-bottom: 2px;
}

.chooseLanguages{
	width: 100%;
	position: relative;
	float: left;
	background-color: #777777;
    padding: 10px;
    display: none;
}
.closeLanguages{
	position: absolute;
	top: 6px;
    right: 5px;
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;

}
.removeLang{
	color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    display: inline-block;
    margin-left: 3px;
    position: relative;
    top: 2px;
}
.closeLanguages:hover,.removeLang:hover{
	color: #333;
	cursor: pointer;
}
.languageSelectFunctions{
	width: 100%;
	float: left;
}
.selectedLanguages{
	padding: 10px;
	background-color: #fff;
	border-radius: 4px;
	width: 100%;
	float: left;
	margin-top: 5px;

}
.languageSubtitle{
	float: left;
	margin: 2px 4px 2px 0;
	color: #777;
}
.langugeList{
	text-align: left;
}
.langTag{
	text-align: left;
	float: left;
	padding: 2px 3px;
	background-color: #00f;
	border-radius: 2px;
	color: #fff;
	margin: 0 5px 5px 0;
}
.updateLanguages{
	float: right;
	display: inline-block;
	margin-top: 5px;
	padding: 3px 6px;
}